// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/  #006747FF;


a{
    color:  white;
    padding: 23px;
    font-size: 20px;
}

.navbar-custom { 
    background-color: #008000;
    text-align: center;
    margin-top: -62px;
    color: white;
}

body{
    background-image: url('https://images.unsplash.com/photo-1518278364075-eb43498f2a73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1622&q=80');
    color: black;
}

.box{
        width: 400px;
        height: 700px;
        border: 20px solid none;
        padding: 50px;
        margin: 40px;
        margin-top: 0px;
        margin-left: 200px;
        background-attachment: fixed;
        background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);
 }

 .box2{
    width: 400px;
        height: 600px;
        border: 20px solid none;
        padding: 50px;
        margin: 60px;
        margin-top: 60px;
        margin-left: 500px;
        background-attachment: fixed;
        background-color: rgba(255, 255, 255, .15);  
       backdrop-filter: blur(5px);
}

.box3{
    width: 400px;
    height: 300px;
    border: 40px solid none;
    margin: 80px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.514);  
    backdrop-filter: blur(5px);
    text-align: center;
    position: absolute;
    transform: translate(-20%, -10%);
}

 h2{
     margin: 70px;
     color: #8B4513;
 }

 h3{
     color: #8B4513;
     text-align: center;
 }

 h1{
    color: #8B4513;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1.5px 2px grayscale($color: #969b98);
 }

.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
 }

 .imag{
    display:block;
    margin-left: 0px;
    margin-right: auto;
    width: 90px;
 }

 .colo{
     color:white;
 }

//  .logo{
//     display:block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: -50px; 
//     width: 90px;
//  }